@media (max-width: 560px) {
    .sm-screen{
        flex-direction: column;
    }
    .img-width{
        width: 50%;
    }
    .navigationBtn{
        top: 10px;
        background-color: red;
    }
}